@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding: 60px 0;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* styles/global.css or styles.module.css */
.main-content {
  padding-top: 4rem; /* Adjust based on the height of your navbar */
}


/* Add this to your global CSS or Tailwind configuration */
@media (max-width: 640px) {
  .table-auto {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table-auto th, .table-auto td {
    display: block;
    width: 100%;
  }

  .table-auto th {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
  }

  .table-auto tr {
    display: flex;
    flex-direction: column;
  }

  .table-auto td {
    border-bottom: 1px solid #e5e7eb;
    padding: 0.5rem 1rem;
    text-align: left;
  }
}


/* Add custom styles if necessary */

.table-responsive {
  @apply overflow-x-auto;
}

table {
  @apply w-full min-w-max;
}
